<h4 class="logo">Ashams</h4>
<div class="navlinks">
    <a class="navtab" href="/">Home Page</a>
    <a class="navtab" href="/articles">Articles</a>
    <a class="navtab" href="/contact">Contact us</a>
</div>