<!DOCTYPE html>
<html>
  <head>
    <title>{{title}} | Ashams</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav class="navbar">
      {{> header}}
    </nav>

    <section class="main-content">
      {{{body}}}
    </section>
    {{!-- <script type="module" src="/data/firebase.js"></script> --}}
  </body>
</html>
